body {
    font-family: 'Lato', sans-serif;
}

#main {
    background-color: rgb(39, 179, 132);
    color: white;
}

.top {
    height: 25vh;
}

#tagline {
    padding: 1%;
    margin: 5% 2% 0 2%;
}

#tagline h1 {
    text-align: center;
    font-size: 250%;
}

.info {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: flex-end;
    height: 43vh;
    
}

#photo {
    min-height: unset;
}

#photo img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ceo {
    padding: 5px;
    text-align: center;
}

.bottom {
    height: 25vh;
}

#quote {
    padding: 4%;
}

#quote h5 {
    font-size: 180%;
    text-align: end;
}

#about {
    
}
