body {
    font-family: 'Lato', sans-serif;
}

#main {
    background-color: rgb(39, 179, 132);
    color: white;
}

.top {
    height: 20vh;
}

#tagline {
    padding: 1%;
}

#tagline h1 {
    text-align: center;
    font-size: 200%;
}

.info {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
    height: 52vh;
    
}

#photo {
    min-height: unset;
}

#photo img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ceo {
    text-align: center;
}

#ceo h2 {
    font-size: x-large;
}

#ceo h4 {
    font-size: larger;
}

.bottom {
    height: 20vh;
}

#quote {
    padding: 2%;
}

#quote h5 {
    font-size: 150%;
    text-align: end;
}

.about {
    height: 92vh;
    
}

#about-info {
    margin: 5% 0;
}

#about-info h1 {
    padding: 50px 0;
}